:root {
    --groen: #347172;
    --oranje: #a63716;
    --donkergroen: #1B4243;

    --animationSpeed: 20s;
    --paddingsidesMobile: 0 15px;
    --paddingsidesTablet: 0 50px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans";

}

.featured-half,
.home-nieuws,
.featured-half-rev,
.bestuur-section {
    padding: var(--paddingsidesMobile);
    margin-top: 60px;

    @media (min-width: 768px) {
        padding: var(--paddingsidesTablet);
    }

}

.featured-half,
.featured-half-rev {
    .btn-primair {
        margin-top: 10px;
    }

    @media (min-width: 768px) {
        align-items: center;
    }
}

.featured-half {
    @media (min-width: 768px) {
        flex-direction: row;
        gap: 5%;
        display: flex;
    }
}

.featured-half-rev {
    @media (min-width: 768px) {
        flex-direction: row-reverse;
        gap: 5%;
        display: flex;
    }
}

.featured-half-content {
    @media (min-width: 768px) {
        max-width: 40%;
    }
}

.featured-half-img-container {
    position: relative;

    img {
        border-radius: 15px;
    }

    @media (min-width: 768px) {
        width: 100%;
    }
}

.top-img {
    width: 30%;
    position: absolute;
    z-index: 2;
    right: 40%;
    bottom: 20%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

}

/* .bottom-img {
    width: 40%;
    position: relative;

} */