@font-face {
    font-family: "isaac-eigenfont";
    src: url('./fonts/isaac-eigenfont-Regular.otf') format('opentype');

}

body {
    font-family: isaac-eigenfont, sans-serif;
}

.cm p {
    width: 30cm;
}

.pt p {
    width: 850pt;
}

.vw p {
    width: 80vw;
}

.em p {
    width: 70em;
}